{% extends "base.html" %}
{% block content %}

<div class="container">
  <br>
  <!-- Row 1: Waste Classification & About -->
	<div class="row">
    <div class="col-md-6 classy_frame" style="padding-top: 0%;">
      <center><h3 style="text-transform: capitalize;">Classify Your Waste Material</h3></center>
      <img id="preview" src="{{ url_for('static', filename='images/reuse.png') }}" height="400px" width="100%" title="client pic">
      
      <center>
        <br>
        <div class="image-upload">
          <p style="color:wheat;" id="upload-web">Click the image upload icon below to upload an image.</p>
          <p style="color:wheat;" id="upload-mobile">Click the camera icon below to capture an image.</p>
          
          <label for="file">
              <img id="upload-web" src="{{ url_for('static', filename='images/upload.png') }}"/>
              <img id="upload-mobile" src="{{ url_for('static', filename='images/camera.png') }}"/>
          </label>
          <input type="file" name="file" id="file" onchange="previewImage()">
        </div>

        <br>
        <button class="classify-button" onclick="classifyWaste()">Classify your waste material</button>
      </center>
      <br>
    </div>

    <div class="col-md-6 classy_frame" style="padding-top: 0%;" id="about">
      <center><h3 style="text-transform: capitalize;">About</h3></center>
      <h4>
        The world generates at least 3.5 million tons of waste per day and this number is still increasing day by day,
        that's why we need to be aware about waste.<br><br>
        This app helps you classify your waste into 9 different categories.
        The recycling process of these waste materials is very hard, and it's challenging to classify them
        at recycling factories.<br><br>
        But what if everyone made 9 trash bins for 9 different waste materials and put the waste in the 
        correct bin? This would be much better for cleaners and recycling factories to classify 
        and recycle the waste. Everyone should do this because around 70% of waste is not recycled
        simply because it wasn't classified.
        <br><br><br><br><br><br>
      </h4>
    </div>
  </div>

  <!-- Row 2: Live Video Classification -->
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-12 classy_frame" style="padding-top: 0%;">
      <center>
        <!-- Button to toggle live video feed -->
        <button class="classify-button" onclick="toggleLiveVideo()">Start Live Video Classification</button>
      </center>
      <br>
      <!-- The video feed will appear here when toggled -->
      <center>
        <img id="live-video" src="" style="display: none; width: 80%; border: 2px solid #ccc;" />
      </center>
    </div>
  </div>

  <!-- Row 3: Videos & Additional Sections -->
	<div class="row" id="recycling-videos">
    <br>
    <hr>
    <h3 id="video-title"></h3>
    <div class="col-md-6 col-xs-6 classy_frame" style="padding-top: 0%; padding-bottom: 2%;">
      <div class="embed-responsive embed-responsive-16by9"> 
        <iframe id="video1" width="560" height="315" src="https://www.youtube.com/embed/zO3jFKiqmHo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6 col-xs-6 classy_frame" style="padding-top: 0%; padding-bottom: 2%;">
      <div class="embed-responsive embed-responsive-16by9"> 
        <iframe id="video2" width="560" height="315" src="https://www.youtube.com/embed/I_fUpP-hq3A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;" allowfullscreen></iframe>
      </div>
    </div>
  </div>

	<div class="row" id="what-if">
    <br>
    <hr>
    <div class="col-md-6 col-xs-6 classy_frame" style="padding-top: 0%; padding-bottom: 2%;">
      <center><h2 style="text-transform: capitalize;">What If We Stopped Recycling?</h2></center>
      <div class="embed-responsive embed-responsive-16by9"> 
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8fFJOzXxB54" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6 col-xs-6 classy_frame" style="padding-top: 0%; padding-bottom: 2%;">
      <center><h2 style="text-transform: capitalize;">What If We Created No Waste?</h2></center>
      <div class="embed-responsive embed-responsive-16by9"> 
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wWbL7Mv2MFw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;" allowfullscreen></iframe>
      </div>
    </div>
  </div>

	<div class="row" id="motivation">
    <br>
    <hr>
    <h3>Why We Need Awareness</h3>
    <div class="col-md-12 classy_frame" style="padding-top: 0%; padding-bottom: 2%;">
      <div class="embed-responsive embed-responsive-16by9"> 
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NhF4pXBNfq8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row" id="quotes">
    <br>
    <hr>
    <div class="col-md-6 col-xs-6 classy_frame" style="padding-top: 0%;">
      <h4>They don’t dive into the swimming pool; they dive into the mud. We can't even imagine how they would feel.</h4>
    </div>
    <div class="col-md-6 col-xs-6 classy_frame" style="padding-top: 0%;">
      <h4>Your one step to waste recycling can make a cleaner’s life 10 minutes better.<br> &nbsp;</h4>
    </div>
  </div>
</div>

<script>
  var imgData;
  var loading = document.getElementById("loading");
  var whatif = document.getElementById("what-if");
  var motivation = document.getElementById("motivation");
  var quotes = document.getElementById("quotes");
  var recyclingvideos = document.getElementById("recycling-videos");

  whatif.style.display = "none";
  motivation.style.display = "none";
  quotes.style.display = "none";
  recyclingvideos.style.display = "none";
  
  function previewImage(){
    var file = document.getElementById("file").files;
    if(file.length > 0){
      var fileName = file[0].name;
      var allowed_extensions = ["jpeg", "jpg","png"];
      var file_extension = fileName.split('.').pop().toLowerCase(); 

      if(allowed_extensions.includes(file_extension)){
        var imgObj = document.getElementById("preview");
        var fileReader = new FileReader();

        fileReader.onload = function(event){
          document.getElementById("preview").setAttribute("src", event.target.result);
          imgData = event.target.result;
        };
        fileReader.readAsDataURL(file[0]);
      }
      else {
        document.getElementById("file").value = "";
        document.getElementById("errorTitle").innerHTML = "Error - Only Image File Acceptable";
        document.getElementById("errorMessage").innerHTML = "We only accept images with .jpeg, .jpg, or .png extensions.";
        $("#errorPopup").modal("show");
      }
    }
  }

  function classifyWaste(){
    var file = document.getElementById("file").files;
    if(file.length > 0){
      loading.style.display = "block";
      whatif.style.display = "block";
      motivation.style.display = "block";
      quotes.style.display = "block";
      recyclingvideos.style.display = "block";

      var form_data = new FormData();
      form_data.append("file", document.getElementById("file").files[0]);
      $.ajax({
        url: 'classifywaste', // point to server-side URL
        dataType: 'json',
        cache: false,
        contentType: false,
        processData: false,
        data: form_data,
        type: 'post',
        success: function (data) {
          var predicted_value = data["predicted_value"];
          var details = data["details"];
          var video1 = data["video1"];
          var video2 = data["video2"];

          var about = document.getElementById("about");
          var videotitle = document.getElementById("video-title");

          about.innerHTML = "<center><h3>Waste classified as <b style='background-color: #0b2438;'>" 
              + predicted_value + "</b> material</h3></center><h4>"+ details +"</h4>";
          videotitle.innerHTML = "How " + predicted_value + " Recycling Works?";

          document.getElementById("video1").setAttribute("src", "https://www.youtube.com/embed/" + video1);
          document.getElementById("video2").setAttribute("src", "https://www.youtube.com/embed/" + video2);

          loading.style.display = "none";
        }
      });
    }
    else {
      document.getElementById("errorTitle").innerHTML = "Error - Image not uploaded";
      document.getElementById("errorMessage").innerHTML = "Please upload an image of your waste material.";
      $("#errorPopup").modal("show");
    }
  }

  // Toggles the live video feed
  function toggleLiveVideo() {
    var liveImg = document.getElementById("live-video");
    if (liveImg.style.display === "none") {
      liveImg.style.display = "block";
      liveImg.src = "{{ url_for('live_video') }}";  // Route that streams video
    } else {
      liveImg.style.display = "none";
      liveImg.src = "";
    }
  }
</script>

{% endblock %}
